:host {
  height: 100%;
  width: 100%;
}

.main-menu {
  height: 48px;
  margin: 0;
  padding: 0;
}

.body-wrapper {
  height: calc(100% - 49px);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.close-button {
  &:hover {
    background-color: grey;
  }
}
