<div class="naxt-body-wrapper">
  <div class="naxt-detail-grid">
    <div class="col-12 row-1">
      <naxt-text-control
        [(value)]="subCategory"
        [readonly]="true"
        [label]="'STPA.LOSSSCENARIOS.CATEGORY.UNSAFECI.SUBCATEGORY' | translate"
      >
      </naxt-text-control>
    </div>

    <div class="col-12 row-2">
      <naxt-text-control
        [(value)]="chosenControlAction"
        (valueChange)="onChangeControlActionChange($event)"
        [readonly]="true"
        [label]="'STPA.LOSSSCENARIOS.CATEGORY.UNSAFECI.CONTROLACTION' | translate"
      ></naxt-text-control>
    </div>
    <div class="col-1 row-3">
      <naxt-dropdown-control
        [label]="'STPA.LOSSSCENARIOS.CATEGORY.UNSAFECI.SOURCECONTROLLER' | translate"
        [dropdownList]="dropDownList"
        [(value)]="chosenSourceController"
        (valueChange)="onChangeSourceControllerChange($event)"
      ></naxt-dropdown-control>
    </div>
    <div class="col-2 row-3">
      <naxt-dropdown-control
        [label]="'STPA.LOSSSCENARIOS.CATEGORY.UNSAFECI.TARGETCONTROLLER' | translate"
        [dropdownList]="dropDownList2"
        [(value)]="chosenTargetController"
        (valueChange)="onChangeTargetControllerChange($event)"
      ></naxt-dropdown-control>
    </div>
  </div>
</div>
