:host {
  flex: 1 0 100%;
  margin-bottom: 5px;
  margin-left: 10px;
}

.controller-wrapper {
  height: 66px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}
/*.content {
  flex: 1 0 100%;
  height: 50%;
  margin: auto auto;
}*/
.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.card {
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  .cardBottom {
    margin-bottom: 10px;
  }
  .content {
    padding-top: 25px;
    width: 170px;
    p {
      word-break: break-all;
    }
  }

  .button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 5px;
  }
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
