<div class="naxt-body-wrapper">
  <div class="naxt-detail-grid">
    <div class="col-1 row-1">
      <naxt-table
        #table
        [rowData]="systemConstraintData"
        [columnDefinitions]="columns"
        [showStateColumn]="true"
        [showDeleteColumn]="true"
        [detailRowTemplate]="_subTemplate_"
        (addEmit)="createSystemConstraint()"
      ></naxt-table>
    </div>
  </div>
</div>

<ng-template #_subTemplate_ let-row="row">
  <div class="naxt-sub-detail-grid">
    <div class="col-12 detail-heading">
      <h4>{{ 'STPA.SYSTEMLEVELSAFETYCONSTRAINTS.TITLETABLE' | translate }}</h4>
    </div>

    <div class="col-1 row-1">
      <naxt-text-control [(value)]="row.name" [label]="'STPA.NAME' | translate"></naxt-text-control>
    </div>

    <div class="col-1 row-2">
      <naxt-chip-controller
        [singleChip]="false"
        [chipList]="row?.hazardChips"
        [label]="'STPA.SYSTEMLEVELSAFETYCONSTRAINTS.LINKEDHAZARD' | translate"
        (addChip)="addHazardlink(row, $event)"
        (removeChip)="removeHazardLink(row, $event)"
      ></naxt-chip-controller>
    </div>
    <div class="col-1 row-3">
      <!-- <naxt-chip-controller
        [singleChip]="false"
        [(chipList)]="arrayChipListLinkedSubSafetyConstraints"
        [label]="'STPA.SYSTEMLEVELSAFETYCONSTRAINTS.LINKEDSUBSAFETYCONSTRAINTS' | translate"
      ></naxt-chip-controller> -->
    </div>
    <div class="col-2 row-1">
      <naxt-multi-line-text
        [maxRows]="7"
        [(value)]="row.description"
        [label]="'STPA.DESCRIPTION' | translate"
      ></naxt-multi-line-text>
    </div>
    <div class="col-2 row-3">
      <naxt-states-button-group [(value)]="row.state"></naxt-states-button-group>
    </div>
  </div>
</ng-template>
