<div class="naxt-body-wrapper2" style="height: auto">
  <div class="naxt-detail-grid">
    <div class="col-1 row-1" style="display: block; height: calc(100vh - 120px)">
      <h1 class="main-title">{{ 'PAGES.HOME.TITLE' | translate }}</h1>
      <h2 class="sub-title">{{ 'PAGES.HOME.SUBTITLE' | translate }}</h2>
      <div class="heading">
        <h3>{{ 'PAGES.HOME.START' | translate }}</h3>

        <div class="buttons">
          <p>
            <a [routerLink]="" (click)="openDialogStpa()">{{ 'PAGES.HOME.STPA' | translate }}</a>
          </p>
          <p>
            <a [routerLink]="" (click)="openDialogCast()">{{ 'PAGES.HOME.CAST' | translate }}</a>
          </p>
          <br />
          <p>
            <a [routerLink]="" (click)="openFile()">{{ 'PAGES.HOME.OPEN' | translate }}</a>
          </p>
        </div>
      </div>
      <!--      <mat-divider class="divider"></mat-divider>-->
      <!--      <div class="heading">-->
      <!--        <h3>{{ 'PAGES.HOME.RECENT' | translate }}</h3>-->

      <!--        <mat-nav-list>-->
      <!--          <mat-list-item *ngFor="let item of list" (click)="openFile()">-->
      <!--            {{ item.name }} {{ item.path }}-->
      <!--          </mat-list-item>-->
      <!--        </mat-nav-list>-->
      <!--      </div>-->
      <mat-divider class="divider"></mat-divider>
      <div class="heading">
        <h3 style="margin-bottom: 2em">{{ 'PAGES.HOME.HELP' | translate }}</h3>
        <p>
          <a href="https://psas.scripts.mit.edu/home/get_file.php?name=STPA_handbook.pdf" target="_blank">
            {{ 'PAGES.HOME.STPAH' | translate }}
          </a>
        </p>
        <p>
          <a href="https://psas.scripts.mit.edu/home/get_file4.php?name=CAST_handbook.pdf" target="_blank">{{
            'PAGES.HOME.CASTH' | translate
          }}</a>
        </p>
      </div>
    </div>
    <div class="col-23 row-1">
      <div>
        <mat-horizontal-stepper (selectionChange)="openTable()">
          <mat-step label="Welcome" state="welcome">
            <h1>
              {{ 'PAGES.HOME.H1' | translate }}
            </h1>
            <p [innerHTML]="'PAGES.HOME.TEXT11' | translate"></p>

            <p [innerHTML]="'PAGES.HOME.TEXT12' | translate"></p>

            <p [innerHTML]="'PAGES.HOME.TEXT13' | translate"></p>

            <h1>About Us</h1>

            <p>
              Software Engineering deals with all issues related to developing, operating and maintaining software. Our
              institute is composed of the Empirical Software Engineering Group, the Software Lab: Program Analysis, and
              the Software Quality and Architecture Group.
            </p>

            <p>
              The Empirical Software Engineering Group in the Institute of Software Technology is responsible for
              teaching most of the basic software engineering courses as well as advanced courses in software quality,
              research methods and project management. The group does research with a high practical relevance, often in
              collaboration with companies with the aim to improve the way we make software.
            </p>

            <h1>Links</h1>

            <p>
              <a href="https://www.uni-stuttgart.de/en/" target="_blank">https://www.uni-stuttgart.de/en/</a>
            </p>

            <p>
              <a href="https://www.iste.uni-stuttgart.de/" target="_blank">https://www.iste.uni-stuttgart.de/</a>
            </p>

            <p>
              <a href="https://www.iste.uni-stuttgart.de/ese/" target="_blank"
                >https://www.iste.uni-stuttgart.de/ese/</a
              >
            </p>

            <!--            <div>-->
            <!--              <button mat-button matStepperNext>-->
            <!--                {{ 'PAGES.HOME.NEXT' | translate }}-->
            <!--              </button>-->
            <!--            </div>-->
          </mat-step>
          <mat-step label="What is STAMP?" state="stamp">
            <h1>
              {{ 'PAGES.HOME.H2' | translate }}
            </h1>
            <p [innerHTML]="'PAGES.HOME.TEXT21' | translate"></p>

            <p [innerHTML]="'PAGES.HOME.TEXT22' | translate"></p>

            <p [innerHTML]="'PAGES.HOME.TEXT23' | translate"></p>

            <h1>
              {{ 'PAGES.HOME.H22' | translate }}
            </h1>

            <p [innerHTML]="'PAGES.HOME.TEXT24' | translate"></p>

            <p [innerHTML]="'PAGES.HOME.TEXT25' | translate"></p>

            <ul>
              <li>{{ 'PAGES.HOME.TEXT26' | translate }}</li>

              <li>{{ 'PAGES.HOME.TEXT27' | translate }}</li>

              <li>{{ 'PAGES.HOME.TEXT28' | translate }}</li>

              <li>{{ 'PAGES.HOME.TEXT29' | translate }}</li>
            </ul>

            <h2>{{ 'PAGES.HOME.SOURCE' | translate }}</h2>
            <a href="https://stamp-consulting.com/what-is-stamp/" target="_blank">
              https://stamp-consulting.com/what-is-stamp/
            </a>

            <!--            <div>-->
            <!--              <button mat-button matStepperPrevious>-->
            <!--                {{ 'PAGES.HOME.BACK' | translate }}-->
            <!--              </button>-->
            <!--              <button mat-button matStepperNext>-->
            <!--                {{ 'PAGES.HOME.NEXT' | translate }}-->
            <!--              </button>-->
            <!--            </div>-->
          </mat-step>
          <mat-step label="Quick Tool Intro">
            <div class="scrollable">
              <h1>
                {{ 'PAGES.HOME.H3' | translate }}
              </h1>

              <p [innerHTML]="'PAGES.HOME.TEXT31' | translate"></p>

              <p [innerHTML]="'PAGES.HOME.TEXT32' | translate"></p>

              <div class="table-heigth">
                <naxt-table
                  #table
                  [rowData]="ELEMENT_DATA"
                  [columnDefinitions]="columns"
                  [showStateColumn]="true"
                  [showDeleteColumn]="true"
                  [hideAdd]="true"
                  [detailRowTemplate]="_subTemplate_"
                ></naxt-table>
              </div>

              <p [innerHTML]="'PAGES.HOME.TEXT33' | translate"></p>

              <div class="buttons">
                <div class="bt">
                  <button mat-mini-fab color="primary">
                    <mat-icon>{{ 'PAGES.HOME.ADD' | translate }}</mat-icon>
                  </button>
                </div>
                <div class="bt">
                  <button mat-mini-fab>
                    <mat-icon>{{ 'PAGES.HOME.ADD' | translate }}</mat-icon>
                  </button>
                </div>
              </div>

              <p [innerHTML]="'PAGES.HOME.TEXT34' | translate"></p>

              <div class="chipfields">
                <mat-chip-list>
                  <mat-chip matTooltip="Hazard1" [removable]="removable">
                    H-1
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div class="chipfields2">
                <mat-chip-list>
                  <mat-chip matTooltip="SubSafetyConstraint1" [removable]="removable"
                    >SSC-2.1
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
              <div class="chipfields3">
                <mat-chip-list>
                  <mat-chip matTooltip="Loss1" [removable]="removable"
                    >L-1
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <mat-chip matTooltip="Loss2" [removable]="removable"
                    >L-2
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <mat-chip matTooltip="Loss4" [removable]="removable"
                    >L-4
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
      <!-- <div class="col-1 row-2">
      <mat-divider class="divider2"></mat-divider>
      <div class="heading">
        <p>STPA</p>
        <p>
          <a href="http://psas.scripts.mit.edu/home/materials/" target="_blank">Handbook</a>
        </p>
        <p>maybe help (Manual)</p>
      </div>
    </div>
    <div class="col-2 row-2">
      <mat-divider class="divider2"></mat-divider>
      <div class="heading">
        <p>CAST</p>
        <p>
          <a href="http://psas.scripts.mit.edu/home/materials/" target="_blank">Handbook</a>
        </p>
        <p>maybe help (Manual)</p>
      </div>
    </div>
    <div class="col-3 row-2">
      <mat-divider class="divider2"></mat-divider>
      <div class="heading">
        <p>Others</p>
        <p>
          <a href="https://www.google.com/" target="_blank">Shortcuts</a>
        </p>
        <p>
          <a href="https://www.github.com/" target="_blank">Github Repository</a>
        </p>
      </div>
    </div> -->
    </div>
  </div>
</div>

<ng-template #_subTemplate_ let-row="row">
  <div class="naxt-sub-detail-grid">
    <div class="col-12 detail-heading">
      <h4>{{ 'STPA.LOSSES.TITLETABLE' | translate }}</h4>
    </div>

    <div class="col-1 row-1">
      <naxt-text-control [(value)]="row.name" [label]="'STPA.NAME' | translate"></naxt-text-control>
    </div>

    <div class="col-1 row-2">
      <naxt-chip-controller
        [singleChip]="false"
        [chipList]="row.hazardChips"
        [label]="'STPA.LOSSES.LINKEDHAZARD' | translate"
      ></naxt-chip-controller>
    </div>
    <div class="col-2 row-1">
      <naxt-multi-line-text
        [maxRows]="7"
        [(value)]="row.description"
        [label]="'STPA.DESCRIPTION' | translate"
      ></naxt-multi-line-text>
    </div>
    <div class="col-2 row-3">
      <naxt-states-button-group [(value)]="row.state"></naxt-states-button-group>
    </div>
  </div>
</ng-template>
