<div class="naxt-body-wrapper">
  <div class="naxt-detail-grid">
    <div class="col-1 row-1">
      <naxt-table
        #table
        [rowData]="implementationConstraintData"
        [columnDefinitions]="columns"
        [showStateColumn]="true"
        [showDeleteColumn]="true"
        [detailRowTemplate]="_subTemplate_"
        [filterShowMenu]="true"
        [menuMapList]="menuMapImplementationConstraint"
        (menuMapEmit)="createImplementationConstraint($event)"
        [parent]="['PLUSBUTTONPARENT.UCA' | translate, 'PLUSBUTTONPARENT.LOSSSCENARIO' | translate]"
      ></naxt-table>
    </div>
  </div>
</div>

<ng-template #_subTemplate_ let-row="row">
  <div class="naxt-sub-detail-grid">
    <div class="col-12 detail-heading">
      <h4>{{ 'STPA.IMPEMENTATIONCONSTRAINTS.TITLETABLE' | translate }}</h4>
    </div>

    <div class="col-1 row-1">
      <naxt-text-control [(value)]="row.name" [label]="'STPA.NAME' | translate"></naxt-text-control>
    </div>

    <div class="col-1 row-2">
      <!--      <naxt-text-control [(value)]="row.controllerConstraint.name" [readonly]="true" [label]="'STPA.IMPEMENTATIONCONSTRAINTS.LINKEDCONTROLLERCONSTRAINTS' | translate"></naxt-text-control>-->
      <naxt-chip-controller
        [singleChip]="true"
        [readonly]="true"
        [chipList]="row?.controllerConstraintChips"
        [label]="'STPA.IMPEMENTATIONCONSTRAINTS.LINKEDCONTROLLERCONSTRAINTS' | translate"
      ></naxt-chip-controller>
    </div>

    <div class="col-2 row-1">
      <naxt-multi-line-text
        [maxRows]="8"
        [(value)]="row.description"
        [label]="'STPA.DESCRIPTION' | translate"
      ></naxt-multi-line-text>
    </div>
    <div class="col-2 row-3">
      <naxt-states-button-group [(value)]="row.state"></naxt-states-button-group>
    </div>
  </div>
</ng-template>
