<div class="naxt-body-wrapper">
  <div class="naxt-detail-grid">
    <div class="col-1 row-1">
      <naxt-table
        #table
        [rowData]="subRecommendationsData"
        [columnDefinitions]="columns"
        [showStateColumn]="true"
        [showDeleteColumn]="true"
        [detailRowTemplate]="_subTemplate_"
        [filterShowMenu]="true"
        [menuList]="menuList"
        (menuEmit)="createSubRecommendations($event)"
        [parent]="['PLUSBUTTONPARENT.RECOMMENDATION' | translate]"
      ></naxt-table>
    </div>
  </div>
</div>

<ng-template #_subTemplate_ let-row="row">
  <div class="naxt-sub-detail-grid">
    <div class="col-12 detail-heading">
      <h4>{{ 'CAST.SUBRECOMMENDATIONS.TITLETABLE' | translate }}</h4>
    </div>

    <div class="col-1 row-1">
      <naxt-text-control [(value)]="row.name" [label]="'CAST.NAME' | translate"></naxt-text-control>
    </div>

    <div class="col-1 row-2">
      <naxt-chip-controller
        [singleChip]="true"
        [readonly]="true"
        [chipList]="row?.recommendationChips"
        [label]="'CAST.SUBRECOMMENDATIONS.LINKEDRECOMMENDATIONS' | translate"
      ></naxt-chip-controller>
    </div>
    <div class="col-1 row-3">
      <naxt-text-control
        [(value)]="row.personInCharge"
        [label]="'CAST.SUBRECOMMENDATIONS.DEPARTMENTNAME' | translate"
      ></naxt-text-control>
    </div>
    <div class="col-2 row-1">
      <naxt-multi-line-text
        [maxRows]="11"
        [(value)]="row.description"
        [label]="'CAST.DESCRIPTION' | translate"
      ></naxt-multi-line-text>
    </div>
    <div class="col-1 row-4" *ngIf="row.parentRecommendation.duration === 'extensive'">
      <naxt-recommondations-button-group [(value)]="row.duration"></naxt-recommondations-button-group>
    </div>
    <div class="col-1 row-4" *ngIf="row.parentRecommendation.duration === 'long-term'">
      <naxt-recommondations-button-group
        [(value)]="row.duration"
        [extensive]="true"
      ></naxt-recommondations-button-group>
    </div>
    <div class="col-1 row-4" *ngIf="row.parentRecommendation.duration === 'immidiately'">
      <naxt-recommondations-button-group
        [(value)]="row.duration"
        [longterm]="true"
        [extensive]="true"
      ></naxt-recommondations-button-group>
    </div>
    <div class="col-2 row-4">
      <naxt-states-button-group [(value)]="row.state"></naxt-states-button-group>
    </div>
  </div>
</ng-template>
