:host {
  flex: 1 0 100%;
}
.controller-wrapper {
  height: 66px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  align-self: center;

  .content {
    flex: 1 0 100%;
    height: 50%;
    margin: auto auto;
  }
}
.toggle-button {
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 12px !important;
}
