<div class="naxt-body-wrapper">
  <div class="naxt-detail-grid">
    <div class="col-1 row-1">
      <naxt-table
        #table
        [rowData]="systemComponentData"
        [columnDefinitions]="columns"
        [showStateColumn]="true"
        [showDeleteColumn]="true"
        [filterShowMenu]="true"
        [detailRowTemplate]="_subTemplate_"
        [menuList]="menuList"
        (menuEmit)="createSystemComponent($event)"
        [deleteObjects]="['STPA.CONTROLALGORITHMS.DELETION' | translate, 'STPA.CONVERSIONS.DELETION' | translate]"
      ></naxt-table>
    </div>
  </div>
</div>

<ng-template #_subTemplate_ let-row="row">
  <div class="naxt-sub-detail-grid">
    <div class="col-12 detail-heading">
      <h4>{{ 'STPA.SYSTEMCOMPONENTS.TITLETABLE' | translate }}</h4>
    </div>

    <div class="col-1 row-1">
      <naxt-text-control [(value)]="row.name" [label]="'STPA.NAME' | translate"> </naxt-text-control>
    </div>
    <div class="col-1 row-2">
      <naxt-multi-line-text
        [(value)]="row.type"
        [maxRows]="1"
        [readonlyTextArea]="true"
        [label]="'STPA.SYSTEMCOMPONENTS.TYPE' | translate"
      ></naxt-multi-line-text>
    </div>
    <div class="col-2 row-1">
      <naxt-multi-line-text
        [maxRows]="3"
        [(value)]="row.description"
        [label]="'STPA.DESCRIPTION' | translate"
      ></naxt-multi-line-text>
    </div>
    <div class="col-2 row-2">
      <naxt-states-button-group [(value)]="row.state"></naxt-states-button-group>
    </div>
  </div>
</ng-template>
